.todo-form {
    .search-input {
      background-color: #1e1e1e;
      color: #f1f1f1;
      border: 1px solid #444;
      padding: 8px;
      border-radius: 4px;
      
      &::placeholder {
        color: #aaa;
      }
     
      &:focus {
        background-color: #1e1e1e;
        color: #f1f1f1;
        border-color: #4a90e2;
        box-shadow: 0 0 0 0.2rem rgba(74, 144, 226, 0.25);
        outline: none;
      }
    } 

  button {
    background-color: #4a90e2;
    color: #fff;

    &:hover {
      background-color: #357ab7;
    }
  }
}
