@import "bootstrap/scss/bootstrap";

$body-bg: #121212;
$body-color: #f1f1f1;
$card-bg: #1e1e1e;
$card-border-color: #2c2c2c;

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  background-color: $card-bg;
  color: $body-color;
  border-color: $card-border-color;
}

